body {
    background-color: #092834
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color:antiquewhite
}

p {
    color:blanchedalmond

}
img{
    border: 5px dotted white;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%
}